:root {
  /* Paleta principal */
  --blanco: #f5f5f7;
  --negro: #0d0d0d;
  --rojo-vibrante: #e50914; /* para títulos, botones, highlights */
  --rojo-hover: #b20710;
  --gris-claro: #a1a1a6; /* textos secundarios */
  --gris-medio: #4f4f4f; /* bordes, líneas, fondo cards */
  --gris-oscuro: #222222; /* fondo de elementos secundarios */
  --fondo-general: #121212; /* fondo general app */
  --fondo-header: #1f1f1f; /* header */
  --fondo-card: #181818; /* tarjetas pelis */
  --hover-card: #282828; /* hover tarjetas */
  --texto-principal: #e5e5e5; /* texto principal */
  --texto-secundario: #b3b3b3; /* texto menos importante */
  --borde-card: #333333;

  /* Tamaños y tipografía */
  --font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-size-base: 62.5%; /* 10px */
  --font-size-text: 1.6rem;
  --font-size-title: 2.4rem;
  --border-radius: 0.8rem;
}

/* Globales */
html {
  font-size: var(--font-size-base);
  box-sizing: border-box;
  background-color: var(--fondo-general);
  font-family: var(--font-family-base);
  color: var(--texto-principal);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}
